@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: "Roboto", sans-serif;

  --clr-primary: hsl(234, 29%, 20%);
  --clr-dark-gray: hsl(235, 18%, 26%);
  --clr-text-muted: hsl(228, 11%, 73%);
  --clr-bkg: hsl(0, 11%, 95%);

  --clr-accent1: hsl(4, 100%, 67%);
  --clr-error: hsl(5, 91%, 36%);

  --main-gradient: (linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%));

  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-700: 2.5rem;
  --fs-800: 3.5rem;

  --space-sm: .5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;

  --borderRadius-200: .5rem;
  --borderRadius-400: 1rem;
}

/* CSS RESET */

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
}

/* BASE/GLOBAL STYLES */

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-dark-gray);
    color: var(--clr-primary);
}

.wrapper {
  background-color: var(--clr-bkg);
  min-height: 100vh;
}

.main--card {
  display: flex;
  flex-wrap: wrap-reverse;
}

.main--heading {
  font-weight: 700;
  font-size: var(--fs-700);
  line-height: 1.1;
}

.content {
  display: grid;
  align-content: center;
  padding: var(--space-lg);
}

#success .content {
  min-height: 100vh;
}

.main--text {
  max-width: 60ch;
}

/* UTILITY CLASSES */

.flex--sm {
  display: flex;
  gap: var(--space-sm);
}

.flex--between {
  display: flex;
  justify-content: space-between;
}

.grid--xs {
  display: grid;
  gap: var(--space-sm);
}

.grid--md {
  display: grid;
  gap: var(--space-md);
}

.items--main {
  align-items: start;
  padding-bottom: var(--space-sm);
}

.items--center {
  align-items: center;
}

.text--sm {
  font-size: var(--fs-200);
}

.icon--sm {
  flex-shrink: 0;
}

.hidden {
  display: none;
}

/* BUTTON */

.btn {
  background-color: var(--clr-primary);
  color: var(--clr-bkg);
  width: 100%;
  padding: var(--space-md);
  text-align: center;
  border-radius: var(--borderRadius-200);
  font-weight: bold;
}

.btn:hover,
.btn:focus {
  background-color: var(--clr-text-muted);
  color: var(--clr-primary);
}

/* FORM STYLES */

.main--label {
  font-weight: 700;
}

.main--input {
  width: 100%;
  padding: var(--space-md);
  border: 1px solid var(--clr-text-muted);
  border-radius: var(--borderRadius-200);
  color: var(--clr-primary);

}

.main--input:hover,
.main--input:focus {
  outline: 2px solid transparent;
  box-shadow: 0px 0px 0px 3px var(--clr-bkg),
  0px 0px 0px 4px var(--clr-accent1);
}

.main--input.error {
  background-color: var(--clr-error);
  box-shadow: 0px 0px 0px 2px var(--clr-accent1);
  color: var(--clr-accent1);
}

/* IMAGES */

.image--mobile {
  border-bottom-left-radius: var(--borderRadius-400);
  border-bottom-right-radius: var(--borderRadius-400);
}

/* FEM ATTRIB */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 40.625rem) {
  .image--desktop {
    display: none;
  }
}

@media (min-width: 40.6875rem) {
  .image--mobile {
    display: none;
  }

  main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: var(--space-md);
  }

  .wrapper {
    min-height: auto;
    border-radius: var(--borderRadius-400);
    padding: var(--space-md);
  }

  .main--heading {
    font-size: var(--fs-800);
  }

  .image--desktop {
    border-radius: var(--borderRadius-400);
  }

  .content {
    max-width: 45ch;
  }

  #success .content {
    min-height: auto;
  }

  .main--card {
    flex-wrap: nowrap;
    gap: var(--space-lg);
  }
}
